select{
    width: 100%;
    height: 35px;
    font-size: 26px;
    appearance: none;
    background-color: none;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 0.1em;
}