.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: "Raleway", sans-serif;
  }

  .body-login h1{
    text-align: center;
    margin-top: 20px;
    color:black;
  }

  .body-login label{
    color:black;
    margin-top: 20px;
    margin-right: 7px;
    font-size: 14px;
    font-weight: 400px;
  }

  .login-input{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 2rem;
    width: 350px;
    height: 4rem;
    padding: 1rem;
    border: none;
    outline: none;
    color: #3c354e;
    font-size: 2rem;
    font-weight: bold;
    
  
  }

  .login-input:focus{
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #00a8e8;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
  }

  .login-input::placeholder{
    color: #b9abe099;
    font-weight: 100;
    font-size: 1rem;
  }